<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ログイン</title>
</head>
<body>
    <form action="/login" method="post">
        <p>
            ユーザー名<input type="text" name="Username"></input>
        </p>
        <p>
            パスワード<input type="password" name="Password"></input>
        </p>
        <input type="submit"></input>
    </form>
</body>
</html>
