<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>メンバーメニュー</title>
</head>
<body>
    <p>こんにちは、 [@ViewBag.CurrentUser] さん</p>
    <ul>
        <li><a href="/secure/token">トークン発行</a></li>
        <li><a href="/secure/logout">ログアウト</a></li>
    </ul>
</body>
</html>
